.tunes {
  background-color: #000;
  color: #ccc;
  padding: 20px;
}

html {
  background-color: #000;
  color: #ccc;
}
.fav-icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  background-color: #303030;
  margin: 5px;
  border-radius: 6px;
}
.icon {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.tunes-artwork {
  width: 125px;
  height: 100px;
  background: center center no-repeat;
  background-size: cover;
  background-color: #303030;
}
.tunes-player {
  display: inline-block; 
  background-color: #303030;
  height: auto;
}
.player {
  display: block;
  overflow: hidden;
  width: 100%;
}
.tunes-section {
  display: grid;
  margin: 50px 20px;
  grid-template-columns: 60% 30%;
  justify-content: center;
  align-items: center;
}

.tunes-container {
  display: flex;
  flex-wrap: wrap;
}
.tunes-favorite {
  width: 100%;
}
.tunes-search {
  padding: 10px;
  margin: 10px auto;
  width: 350px;
}
input {
  border: 1px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0070c9;
  color: #0070c9;
  background-color: #fafafa;
  width: 350px;
}
