.tunes {
  background-color: #000;
  color: #ccc;
}

html {
  background-color: #000;
  color: #ccc;
}

.tune-artwork {
  width: 150px;
  height: 125px;
  background:  center center no-repeat;
  background-size: cover;
  background-color: #fafafa;
  background-color: #303030;
}
.tunes-container {
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
}
.tunes-search {
  padding: 10px;
  margin: 10px auto;
  width: 350px;
}
input {
  border: 1px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0070c9;
  color: #0070c9;
  background-color: #fafafa;
  width: 350px;
}
